<div class="mt-4">
    <div>
        <h3>List of hidden rooms</h3>
        <a href="/lessor/stores/post">Room List</a>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Room name </th>
                <th scope="col">Price </th>
                <th scope="col">Room owner </th>
            </tr>
        </thead>
        <tbody>
            {{#each roles}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.room}}</td>
                <td>{{this.price}}</td>
                <td>{{this.slug}}</td>
                <td>
                    <a href="" class="btn btn-cancel" data-id={{this._id}} data-toggle="modal"
                        data-target="#delete-rooms">
                        Bỏ ẩn phòng
                    </a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Không có phòng nào được ẩn đi!!!
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
    <a class="btn btn-primary" href="/lessor">Quay về danh sách</a>
</div>

{{!-- Attention --}}
<div id="cancel-hidden-rooms" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Khôi phục phòng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn bỏ ẩn phòng này ?</p>
            </div>
            <div class="modal-footer">

                <button id='btn-cancel-hidden-rooms' type="button" class="btn btn-danger">Bỏ ẩn</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>

            </div>
        </div>
    </div>
</div>
<form name="cancel-hiddenroom-form" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var cancelForm = document.forms['cancel-hiddenroom-form']
        
        var roomID
        var cancelBtn = $('.btn-cancel')

        $('#cancel-hidden-rooms').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            roomID = button.data('id')
        })

        cancelBtn.click(function (){
            var roomID = $(this).data('id')
            cancelForm.action = '/lessor/' + roomID + '/cancel?_method=PATCH'
            cancelForm.submit()
        })
    })


</script>