<div class="col-sm-6 col-lg-4">
    <div class="card card-course-item">
        <a href="/lessor/{{roles.slug}}">

            <img class="card-img-top" src="/upload/{{roles.image}}" alt="{{roles.location}}">

        </a>
        <div class="card-body">
            <a href="/lessor/{{roles.slug}}">
                <h5 class="card-title">Room's name : {{roles.room}}</h5>
            </a>


        </div>
    </div>
</div>