<h1>Your rental room</h1>

<div class="col-sm-6 col-lg-4">
    <div class="card card-course-item">
        <img class="card-img-top" src="{{roles.img}}" alt="{{roles.location}}">
        <div class="card-body">
            <h3 class="card-title">{{roles.room}}</h3>
            <h3 class="card-title">Owner : {{roles.slug}} </h3>
            <h3 class="card-title">Price : {{roles.price}} VNÄ</h3>
            <h3 class="card-title">Address : {{roles.address}}</h3>
        </div>
    </div>
</div>