<h1>List of your rental room</h1>
<div class="mt-4">
    <a class="btn" href="/lessor/create">
        <button>Đăng phòng</button>
    </a>
    <a class="btn" href="/lessor/stores/post">
        <button>Sửa thông tin phòng</button>
    </a>
    <form action="/lessor/search" method="GET" class="form-inline">
        <div class="form-group">
            <input type="text" name="room" class="form-control">
            <input type="submit" value="Search" class="btn btn-default">
        </div>
    </form>


    {{#each roles}}
    <div class="col-sm-6 col-lg-4">
        <div class="card card-course-item">
            <a href="lessor/{{this.slug}}">

                <img class="card-img-top" src="/upload/{{this.image}}" alt="{{this.location}}">

            </a>
            <div class="card-body">

                <a href="lessor/{{this.slug}}">



                    <h5 class="card-title">Room's name : {{this.room}}</h5>
                </a>
                <h5 class="card-title">Room's address : {{this.address}}</h5>

            </div>
        </div>
    </div>


    {{/each}}
</div>